POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hackathon
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

SECRET_KEY=changeme-generate-with-openssl-rand-hex-32

BACKEND_CORS_ORIGINS=["http://localhost:5173"]
